table {
    justify-content: center;
    border-collapse: collapse; /* Elimina los bordes duplicados entre celdas */
    margin: 2rem 1rem;
    width: 90%;
}

/* Estilo de los encabezados */
th {
    background-color: #002a61a2; /* Color de fondo verde */
    color: white;
    text-align: left;
    padding: 12px 15px;
}

/* Estilo de las celdas de la tabla */
td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #242424; /* Línea debajo de cada celda */
}

/* Fila alterna con color de fondo */
tr:nth-child(even) {
    background-color: #16151f; /* Color de fondo gris claro */
}

/* Efecto de hover sobre las filas */
tr:hover {
    background-color: #3d3d3d; /* Color de fondo gris al pasar el ratón */
}

/* Añadir un borde a la tabla */
table, th, td {
    border: 1px solid #ddd;
}

/* Estilo de las celdas de imágenes (si es necesario) */
td img {
    max-width: 100px; /* Limita el tamaño de la imagen */
    height: auto;
}

/*Decorador*/
.container-decorador {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .container-decorador h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  .container-decorador form div {
    margin-bottom: 1rem;
  }
  
  .container-decorador label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .container-decorador input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .container-decorador button {
    display: block;
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .container-decorador button:hover {
    background-color: #0056b3;
  }
  
  .container-decorador .resultado {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .container-decorador .resultado h3 {
    color: #007bff;
    margin-bottom: 1rem;
  }
  
  .container-decorador .resultado p {
    margin: 0.5rem 0;
  }
  
  .container-decorador .resultado p strong {
    color: #333;
  }
